params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

process {
  executor = 'slurm'
  clusterOptions="-N 1 -p icelake"
  containerOptions = "-B /hpcfs/,/gpfs/,/scratchdata1/,/scratchdata2/"
  time = '8h'

  withName: GATK {
    cpus = 4
    memory = '24000M'
    time = '24h'
  }

  withName: CONCAT_SHARDS {
    memory = '12000M'
  }

  withName: FILTER_VCF {
    memory = '12000M'
  }

  withName: MERGE_SAMPLES {
    memory = '12000M'
  }

}

params {
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
}
