params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/groups/acad_users/containers/"
}

 
process {
  executor = 'slurm'
  clusterOptions="-N 1 -p icelake"
  container = "/hpcfs/users/a1880987/projects/dingo/public_data/bougiouri_et_al/dog_imputation_pipeline/containers/dog_imputation_0.0.sif"
  containerOptions = "-B /hpcfs/,/gpfs/,/scratchdata1/,/scratchdata2/"
  time = '24h'
  withName: compute_GLs_imputed_samples {
    cpus = 1
    memory = '4000M'
  }

  withName: impute {
    cpus = 2
    memory = '24000M'
  }

  withName: ligate {
    cpus = 8
    memory = '24000M'
  }

  withName: sample_haplotype {
    cpus = 8
    memory = '24000M'
  }

  withName: annotate_fields {
    memory = '8000M'
  }

  withName: merge_phased_bcfs {
    cpus = 4
    memory = '8000M'
  }

  withName: maf_sites_phased_vcf {
    cpus = 4
    memory = '8000M'
  }

  withName: recalibrate_info_phased_vcf {
    cpus = 4
    memory = '8000M'
  }

  withName: filter_recalibrated_INFO_phased_vcf {
    cpus = 4
    memory = '8000M'
  }

}

params {
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
}